:root {
  font-family: 'Lora', serif;
  background-color: #1C1F37;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;

}
h1 {
  color: #ABC5E3;
  font-weight: 500;
  font-size: 50px;
  padding: 0%;
  margin: 0%;
}
p {
  color: #ABC5E3;
}
 .logo {
  display: flex;
  align-items: center;
  justify-content: center;

}
.contact_img img {
  width: 75px;
  color: #ABC5E3;
}


.aboutMe_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}
.aboutMe_parrafo p{
  text-align: center;
  font-weight: 400;
  padding: 2rem 10rem;

}
.line{
  height: 12px;

}
.line img:nth-child(n)  {
  width: 220px;
  

}


